.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: -20px;
  height: 100vh;
  position: relative;
  text-align: center;
  overflow: hidden;
  font-family: "Arial", sans-serif;
  top: -50px;
}

.hero-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #393838;
  z-index: 5;
}

.hero-section h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
}

.hero-section p {
  font-size: 25;
  color: #444;
  margin-bottom: 100px;
}

.primary-btn {
  background: linear-gradient(135deg, #00b4db, #0083b0);
  color: rgb(255, 255, 255);
  padding: 12px 32px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.primary-btn:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #0083b0, #00b4db);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 350px;
}